.drp-container{
    margin: 10px 0;
}
.agent-info .card{
    margin: 0 auto;
}

.card-img-top{
    width: 50%;
    margin: 0 auto;
    border-radius: 50%;
    border: 5px solid #eee;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  
}