<div class="history-section">
    <div class="row text-center" [hidden]="userRole==='agent'">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Select Agent</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button (click)="changeAction(agent)" class="dropdown-item"  *ngFor="let agent of agentData | async">{{agent.name}}</button>

            </div>
          </div>
        </div>
      
      
      </div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let history of historyData | async">
      <div class="row">
          <div class="col-9 vertical-center"  >
             <h5> {{history.checkintime | date }}</h5>
             <p>Check In Time: {{history.checkintime | date :'h:mm a' }}  <br>
              Check Out Time: {{history.checkouttime | date :'h:mm a' }}<br>
              Hours Worked: {{calculateHours(history)}}<br>
              Client Name: {{history.clientname }} </p>

            
            </div>
            <div class="col-3 vertical-center float-right">
                <button type="button" class="btn btn-primary" (click)="verifyData(history,$event.target, 'verifying')" [hidden]="history.isVerified || history.isVerified==false">Verify</button>
                <img   src="assets/images/success.png" alt="" [hidden]="!history.isVerified || history.isVerified==undefined">
                <img  src="assets/images/error.png" alt="" [hidden]="history.isVerified || history.isVerified==undefined">
       
                
            </div>  
          
      </div>
    </li>
    <li class="list-group-item text-center" [hidden]="historyLength>0" >No Records Found</li>
  

  </ul>
  
</div>