<div class="history-section">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let history of historyData | async">
      <div class="row">
          <div class="col-9 vertical-center"  >
             <h5> {{history.checkintime | date }}</h5>
             <p>Check In Time: {{history.checkintime | date :'h:mm a' }} <br>
              Check Out Time: {{history.checkouttime | date :'h:mm a' }}<br>
              Hours Worked: {{calculateHours(history)}}<br>
              Client Name: {{history.clientname }} </p>

            
            </div>
            <div class="col-3 vertical-center float-right">
                <button type="button" class="btn btn-primary" (click)="verifyData(history,$event.target, 'verifying')" [hidden]="history.isVerified || history.isVerified==false">Verify</button>
                <img   src="assets/images/success.png" alt="" [hidden]="!history.isVerified || history.isVerified==undefined">
                <img  src="assets/images/error.png" alt="" [hidden]="history.isVerified || history.isVerified==undefined">
       
                
            </div>  
          
      </div>
    </li>
  

  </ul>
  
</div>