<div class="clientinfo-section">
  <div class="row header-info grid-margin">
    <div class="col-10 title"> <h3>Client Information</h3></div> 
    <div class="col-2 align-right vertical-center close-icon" (click)="closePage()"><i class="fa fa-times-circle" aria-hidden="true"></i> </div>
 </div>
 <div class="row card bg-light text-dark grid-margin"> 
   <div class="card-body">
  <div class="col-12 label">Name:   {{clientInfo.clientname}}</div>
  <div class="col-12 label"> ID :   {{clientInfo.clientid}} </div>
  <div class="col-12 label">DOB :   {{clientInfo.dob | date}}</div>
  </div>

  <div class="card bg-light text-dark">
    <div class="card-body">
  <div class="col-12 label extraTopMargin">Service Offered : {{clientInfo.service}}</div>
  <div class="col-12 label">Date:   {{today | date}}</div>
  <div class="col-12 label">Assigned Check in time:   {{clientInfo.timing?.intime| date:'h:mm a'}}</div>
  <div class="col-12 label">Assigned Check out time:  {{clientInfo.timing?.outtime| date:'h:mm a'}}</div>
  <div class="col-12 label">Allocated hours:   {{clientInfo.DOB | date}}</div>
  </div>
  </div>

  <div class="card bg-light text-dark">
      <div class="card-body">
  <div class="col-12 label extraTopMargin">Address  : {{clientInfo.Address}}</div>
 </div>
 </div>
 
<div class="map-container">
  <agm-map [zoom]="15" [latitude]="clientInfo.location?.lat" [longitude]="clientInfo.location?.long">
    <agm-marker [latitude]="clientInfo.location?.lat" [longitude]="clientInfo.location?.long"></agm-marker>
    <agm-circle [latitude]="clientInfo.location?.lat" [longitude]="clientInfo.location?.long" [radius]="10"></agm-circle>
  </agm-map>
</div> 
</div>
