.title{
    height: 70px;
    background: #ffc000;
    text-align: center;
    position: relative;
    padding: 20px 0;
}
.label{
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.extraTopMargin{
    margin-top: 20px;
}

.close-icon{
    font-size: 40px;
    color: #fff;
}
.header-info{
    background:#ffc000; 
}
.card-body{
    padding: 5px 10px;
}